.header__main {
    display: flex;
    margin-bottom: 270px;
}

.header__main__left h1 {
    font-size: 64px;
    margin-bottom: 75px;
    color: #202336;
}

.header__main__left h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #202336;
}

.header__main__line {
    width: 32px;
    height: 2px;
    background-color: #202336;

    margin-bottom: 50px;
}

.select {
    flex-wrap: wrap;
}

.select select {
    width: 220px;
    height: 52px;
    padding-left: 30px;
    background-color: transparent;
    border: 1px solid #C4C4C4;
    border-radius: 6px;

    color: #4A4C53;
    font-size: 15px;

    margin-right: 30px;
    margin-bottom: 35px;
}

.header__main__img {
    position: relative;
    top: -15px;
}