.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    text-align: left;
}

.section__left {
    max-width: 500px;
}

.section__left h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 155px;
    
}

.section__left p {
    color: #7D7987;
    margin-bottom: 33px;
}